<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
<table>
	<tr>
		<th>id</th>
		<th>类别名称</th>
		<th>状态</th>
		<th>编辑</th>
	</tr>
	<%for( var i = 0; i < list.length; i++ ) {%>
	<tr>
		<td><%=list[i].id%></td>
		<td><%=list[i].category_name%></td>
		<td>
			<%if (list[i].status == 0){%>
			开放
			<%}else{%>
			关闭
			<%}%>
		</td>	
		<td>
			<a href="article/<%=list[i].id%>">修改</a>	
			|
			<a href="delete/<%=list[i].id%>">删除</a>
		</td>
	</tr>
	<%}%>
</table>
<div><a href="add">新增类别</a></div>
</body>
</html>